@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* Nav Links Style */
  .nav-links {
    @apply text-grayishViolet hover:text-veryDarkViolet;
  }
  /* Mobile Nav Style */
  .mb-nav-links {
    @apply w-full text-center hover:text-cyan;
  }
}

/* ========== CTA Styling */
#cta {
  background-image: url("../images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ========== Footer Links Styling */

@layer components {
  .align-items-center {
    @apply flex items-center justify-between;
  }
  .align-cols-center {
    @apply flex flex-col items-center;
  }
  .align-cols-center-start {
    @apply align-cols-center md:items-start;
  }
  .flex-col-p6 {
    @apply flex flex-col p-6;
  }
  .flex-cols-start {
    @apply flex flex-col items-start;
  }

  /* Feature Row Style */
  .feature-row-center {
    @apply flex flex-col space-y-24 text-center;
  }
  /* Feature Items Style */
  .feature-items-center {
    @apply h-24 mb-6 align-items-center;
  }
  .feature-space-center {
    @apply space-y-2 align-cols-center;
  }

  .testimonial-box {
    @apply flex flex-col p-10 space-y-6 bg-gray-100 rounded-lg dark:bg-darkBlue3 md:w-1/3;
  }
}

/* ========== HAMBURGER MENU */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

/* ==== Click Open Menu Styles*/
.open {
  transform: rotate(90deg);
  transform: rotate(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
